{{ if .IsHome }}
  <div class="blurb">
    <a href="https://github.com/delta-game/delta" target="_blank"><img src="/img/blurb.webp" alt="DELTA Logo" class="center-image"></a>
    <center><p>DELTΔ is a voxel survival-sandbox game that challenges players to better manage their time through automation. Explore a vast, procedurally generated world, gather resources, and build your own pipelines (through .. well pipes, machinary, time-shared terminals, and programmable toad-shaped androids called 'toids') as we attempt to survive & thrive on flat-earth.</p></center>
    <div style="display: flex; justify-content: center;">
      <a href="https://github.com/delta-game" target="_blank" class="fa-link"><img src="/fa/github.svg" alt="GitHub" width="33" height="33" class="fa-icon"></a>
      <a style="margin-left: 15px;"></a>
      <a href="https://odysee.com/@delta-game" target="_blank" class="fa-link"><img src="/fa/odysee.svg" alt="GitHub" width="33" height="33" class="fa-icon"></a>
      <a style="margin-left: 15px;"></a>
      <a href="https://kataparty.itch.io/delta-game" target="_blank" class="fa-link"><img src="/fa/itch-io.svg" alt="Itch.io" width="33" height="33" class="fa-icon"></a>
      <a style="margin-left: 15px;"></a>
      <a href="https://fosstodon.com/@delta_game" target="_blank" class="fa-link"><img src="/fa/mastodon.svg" alt="Mastodon" width="33" height="33" class="fa-icon"></a>
      <a style="margin-left: 15px;"></a>
      <a href="https://discord.gg/vbEbDSjhZu" target="_blank" class="fa-link"><img src="/fa/discord.svg" alt="Discord" width="33" height="33" class="fa-icon"></a>
      <a style="margin-left: 15px;"></a>
      <a href="https://patreon.com/delta_game" target="_blank" class="fa-link"><img src="/fa/patreon.svg" alt="Patreon" width="33" height="33" class="fa-icon"></a>
      <a style="margin-left: 15px;"></a>
      <a href="/add-ethereum-wallet-link" target="_blank" class="fa-link"><img src="/fa/ethereum.svg" alt="Ethereum" width="33" height="33" class="fa-icon"></a>
    </div>
  </div>
{{ end }}
